/*Colors*/

$yellow: #fed52f;
$dark-red: #3a2405;
$black: #000;
$white: #fff;

$brand-color: $yellow;


$font-black: $black;
$font-white:$white;
$font-dark: $dark-red; //testimonials preview







/*Fonts*/

$lato: 'Lato', sans-serif;