.donation {
  padding-bottom: 70px;
  .donation-block {
    padding: 40px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    overflow: hidden;
    .organization-wrap {
      margin-right: 15px;
      .title-cover {
        padding: 30px 0;
        font: 700 40px/50px $lato;
        color: #000;
      }
      .description-cover {
        font: 700 16px/27px $lato;
        color: #010000;
      }
    }
    .donation-wrap {
      margin-left: 15px;
    }
  }
}