.projects-page {
}

.projects-wrap {
  overflow: hidden;
}

.projects-item {
  margin: 20px 0; //temp
  padding: 0;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  background-color: white;
}

.projects-item-image-wrap {
  overflow: hidden;
  //height: 250px;
  //height: inherit;
  border-radius: inherit;
  padding: 0;
  img {
    height: auto;
    width: 100%;
    border-radius: inherit;

  }
}

.projects-item-description {
  .item-title {
    margin-top: 30px;
    font: 900 24px/24px $lato;
    color: #000;
  }
  .item-info {
    margin-top: 10px;
    font: 400 16px/24px $lato;
    color: #000;
  }
  .item-read-more {
    display: block;
    margin-top: 10px;
    font: 400 18px/23px $lato;
    color: $brand-color;

  }

}

.projects-item-donate-info {
  position: relative;

  padding: 0 25px;
  .bar-wrapper {
    margin-top: 50px;
    //position: relative;
  }
  .projects-donate-button {
    margin: 30px 0;
  }
}

.donate-info-wrap {
  overflow: hidden;
  .donate-text {
    display: block;
    font: 400 16px/23px $lato;
    color: #000;
  }
  .amount {
    float: left;
    font: 700 24px/26px $lato;
    color: #000;
  }
  .goal {
    float: right;
    font: 900 24px/26px $lato;
    color: #000;
  }
}

@media (min-width: 992px) {
  .projects-item-donate-info {

    &:before {
      content: '';
      position: absolute;
      left: 2px;
      top: 30px;
      display: block;
      width: 1px;
      height: 80%;
      background-color: #e5e5e5;

    }
  }
}
