.about-us {
  position: relative;
  padding-top: 70px;
  background: $brand-color;
  color: #fff;
  .intro {
    text-align: left;
    margin: 45px 0 20px;
    color: #fff;
  }
  .about-content {
    padding: 10px 0 30px;
    p {
      font: 700 16px/24px $lato;
      margin-bottom: 30px;
    }
  }
}
.about-us-page {
  padding: 70px 0 40px;
}
.about-wrap-img {
  img {
    display: block;
    width: 100%;
  }
}

.container-fluid {
  padding: 0;
}

@media (min-width: 768px) {
  .about-wrap-img {
    width: 50%;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    img {
      position: absolute;
      bottom: 0;
      width: auto;
      height: 100%;
      transform: translateX(-35%);
    }
  }
}
@media (min-width: 992px) {
  .about-wrap-img {
    img {
      transform: translateX(-10%);
    }
  }
}
@media (min-width: 1200px) {
  .about-wrap-img {
    img {
      width: 100%;
      height: auto;
      transform: translateX(0);
    }
  }
}