.about-us {
  position: relative;
  padding-top: 70px;
  background: $brand-color;
  .about-content {

  }
}
.about-cover {
  img {
    position: absolute;
    width: 50%;
  }
}

.container-fluid {
  padding: 0;
}