.container {
  position: static;
}
.site-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 15px;
  z-index: 10;
  .logo {
    float: left;
    width: 131px;
    height: 57px;
    overflow: hidden;
  }
  .main-nav {
    float: right;
    .nav-btn {
      background: transparent;
      margin: 20px 15px;
      border: none;
      font-size: 25px;
      color: #fff;
      transition: 0.3s all ease-out;
      z-index: 10;
      &:hover {
        color: $brand-color;
      }
      &:focus {
        outline: none;
      }
    }
    .remove-btn {
      display: none;
    }
    .navigation {
      display: none;
      position: absolute;
      width: 100%;
      height: 100vh;
      text-align: center;
      background-color: rgba(0,0,0,0.9);
      top: 0;
      left: 0;
      padding: 20vh 0 0;
      z-index: -1;
      li {
        margin: 5vh 0;
      }
      a {
        font: 700 16px $lato;
        color: #fff;
        transition: 0.3s all ease-out;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}

.header-page {
  position: fixed;
  background-color: #2d2620;
}

.fixed-scroll {
  width: 100%;
  position: fixed;
  background-color: #2d2620;
  transition: 0.5s;
  z-index: 99;
}

@media (min-width: 768px) {
  .site-header {
    .main-nav {
      .nav-btn {
        display: none;
      }
      .navigation {
        display: flex;
        position: relative;
        width: auto;
        height: auto;
        background-color: transparent;
        top: auto;
        left: auto;
        padding: 25px 0;
        z-index: 1;
        li {
          margin: 0;
          padding: 0 18px;
          &:last-child {
            padding-right: 0;
          }
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .site-header {
    .main-nav {
      .navigation {
        li {
          padding: 0 30px;
        }
      }
    }
  }
}
