.hero {
  position: relative;
  margin: 0 auto;
  padding: 150px 0;
  top: 0;
  text-align: center;
  color: #fff;
  overflow: hidden;
  .intro-description {
    width: 80%;
    margin: 30px auto;
    font: 400 18px $lato;
  }
  .btn {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .hero {
    .intro {
      font-size: 45px;
    }
    .intro-description {
      width: 70%;
    }
  }
}

@media (min-width: 992px) {
  .hero {
    padding: 200px 0 250px;
    .intro {
      font-size: 60px;
    }
    .intro-description {
      width: 60%;
      margin: 50px auto;
    }
  }
}