.learn-more-contact {
  padding: 60px 0;
  background-color: #fbf7f4;

  .section-title {
    color: black;
    font: 700 40px/48px $lato;
    text-align: center;
  }

  .section-description {
    margin-bottom: 54px;
    color: black;
    font: 400 16px/27px $lato;
    text-align: center;
  }
}
