.testimonials {
  .wrap-quote {
    padding-top: 60px;
  }
  .single-quote {
    padding: 40px 15px 10px;
  }
  .avatar-quote {
    background: #fff;
    border: 1px solid #e2e2e1;
    padding: 3px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .content-quote {
    padding: 25px 35px 15px;
    border: 1px solid #f0f0f0;
    background: #fff;
    p {
      font: 700 16px/24px $lato;
      color: #3a2405;
    }
    span {
      font: 100 18px/24px $lato;
      color: $black;
    }
    .name-author {
      font-weight: 400;
      color: $brand-color;
    }
    .author-quote {
      padding: 20px 0;
    }
  }
}