.breadcrumbs {
  margin-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
  color: darkgrey;
  font: 100 18px/27px $lato;

  @media only screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  strong {
    font-weight: 100;
  }

  .bread-link {
    color: darkgrey;

    &:hover {
      color: darkgrey;
    }
  }

  .search-result-bread-crumb {
    width:100%;
  }
}