/*Custom progress bars*/

.tooltip{
  position:relative;
  float:right;
  top: -37px !important;
  z-index: 0;
}
.tooltip > .tooltip-inner {
  background-color: white;

  padding:3px 5px;
  font: 700 16px/18px $lato ;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  color: #000000;

}
.pop + .tooltip > .tooltip-arrow {
  bottom: -2px;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #dcdcdc;
  &:after{
    content: '';
    position: absolute;
    top: -10px;
    left: -8px;
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
  }
}

.progress{
  height: 12px;
  width: inherit;
  position: relative;
  border-radius: 10px;
  overflow:visible;
  box-shadow: none;
  border: 1px solid #dcdcdc;
  background-color: transparent;
}
.progress-bar{
  height: inherit;

  position: absolute;
  left: -2px;
  top: -1px;
  background: $brand-color;
  border-radius: 10px;
  transition: width 2.0s ease-in-out;

  box-shadow: none;
}

.project-post-header{
  .tooltip > .tooltip-inner {
    padding: 3px 8px;
    font: 900 24px/30px $lato ;
  }
  .tooltip{
    top: -48px !important;
  }
}
