.gallery {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media only screen and (min-width: 600px) {
    justify-content: flex-start;
    margin-left: -15px;
  }

  .gallery-item {
    margin: 15px;
    padding: 5px;
    border: 1px solid darkgrey;
    border-radius: 5px;
  }
}

.pbCaptionText {

  .title {

    font: 600 14px/20px $lato;

  }

}
